body {
	font-family: Verdana;
	font-size: 1.1em;
	margin: 0;
	border-top: 0.8rem solid #455A64;
}


.topbar {
	background-color: #607D8B;
	color: #fff;
	box-shadow: 0px 3px 5px 0px #b6b6b6;
	padding: 1em;
}


.addevent {
	text-align: center;
}


.eventstream {
	font-size: 1.2em;
	max-height: 15em;
	overflow-y: scroll;
}
li {
	text-decoration: none;
	cursor: pointer;
}

li.completed {
	text-decoration: line-through;
	cursor: default;
}


.timeline {
	list-style-type: none;
	padding: 1em;
	margin: 0;
}
.timeline li {
	min-height: 2.4em;
	padding-bottom: 2px;
	border-bottom: 1px dotted #b6b6b6;
}
.timeline__time {
	position: absolute;
	width: 3.5em;
	line-height: 2.3em;
	height: 2.3em;
	font-size: 1em;
	color: #b6b6b6;
}
.timeline__events {
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-height: 2.4em;
	border-left: 1px solid #b6b6b6;
	margin-left: 3.5em;
}
.event {
	flex-grow: 1;
	align-self: center;
	margin-left: 0.5em;
}
.event__label {
	padding: 3px 2px 4px;
	margin-left: 2px;
	border: 1px solid;
	border-radius: 3px;
}
.event header {
	width: 100%;
	font-size: 0.8em;
}
.event time {
	margin-right: 2px;
	font-weight: bold;
}

.event__severity-info {
	background-color: #DCEDC8;
	color: #212121;
	border-color: #689F38;
}
.event__severity-alert {
	flex-grow: 1.5;
	background-color: #E64A19;
	border-color: darkred;
	color: white;
}

.event-completed {
	opacity: 0.4;
	text-decoration: line-through;
}
